# Retail Orders & Customer Transactions

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName("retail").getOrCreate()

In [2]:
raw_orders = [
    ("ORD001","C001","Ravi"," Delhi ","Laptop","Electronics","45000","2024-01-05","Completed"),
    ("ORD002","C002","Sneha","Mumbai"," Mobile ","Electronics","32000","05/01/2024","Completed"),
    ("ORD003","C003","Aman","Bangalore","Laptop","Electronics","55000","2024/01/06","Completed"),
    ("ORD004","C004","Pooja","Delhi","Tablet"," Electronics ","","2024-01-07","Cancelled"),
    ("ORD005","C005","Neha","Chennai","Laptop","Electronics","48000","invalid_date","Completed"),
    ("ORD006","C006","Rahul","Mumbai","Mobile","Electronics",None,"2024-01-08","Completed"),
    ("ORD007","C007","Kiran","Bangalore","Tablet","Electronics","30000","2024-01-08","Completed"),
    ("ORD008","C008","Amit","Delhi","Laptop","electronics","45000","2024-01-09","Completed"),
    ("ORD009","C009","Priya"," Pune","Mobile","Electronics","28000","09-01-2024","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),  # duplicate
    ("ORD011","C011","Meena","Chennai","Tablet","Electronics","31000","2024-01-11","Completed"),
    ("ORD012","C012","Arjun","Delhi","Mobile","Electronics","27000","2024/01/11","Completed"),
    ("ORD013","C013","Nikhil","Bangalore","Laptop","Electronics","60000","2024-01-12","Completed"),
    ("ORD014","C014","Rohit","Mumbai","Mobile","Electronics","invalid_price","2024-01-12","Completed"),
    ("ORD015","C015","Anita","Delhi","Tablet","Electronics","29000","2024-01-13","Completed"),
    ("ORD016","C016","Vikas","Chennai","Laptop","Electronics","52000","2024-01-13","Completed"),
    ("ORD017","C017","Sunita","Mumbai","Mobile","Electronics","33000","2024-01-14","Completed"),
    ("ORD018","C018","Deepak","Bangalore","Laptop","Electronics","58000","2024-01-14","Completed"),
    ("ORD019","C019","Pallavi","Delhi","Mobile","Electronics","26000","2024-01-15","Completed"),
    ("ORD020","C020","Manish","Mumbai","Tablet","Electronics","34000","2024-01-15","Completed")
]

In [3]:
columns=["order_id","customer_id","customer_name","city","product","category","price","order_date","order_status"]

In [60]:
df=spark.createDataFrame(data=raw_orders,schema=columns)
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
|order_id|customer_id|customer_name|     city| product|     category|        price|  order_date|order_status|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|   Completed|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|   Completed|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|   Completed|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|   Cancelled|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|   Completed|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|   Completed|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|   Completed|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|   Completed|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|   Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|   Completed|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|   Completed|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|   Completed|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|   Completed|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|   Completed|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|   Completed|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|   Completed|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|   Completed|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|   Completed|
+--------+-----------+-------------+---------+--------+-------------+-------------+------------+------------+
only showing top 20 rows

# CLEANING & TRANSFORMATION TASKS

Column Operations

1. Rename all columns to snake_case

In [61]:
import re

def to_snake_case(name):
    name = re.sub(r'\s+', '_', name)
    name = re.sub(r'(?<!^)(?=[A-Z])', '_', name).lower()
    return name

old_columns = df.columns

new_columns = [to_snake_case(col_name) for col_name in old_columns]

for old_name, new_name in zip(old_columns, new_columns):
    df = df.withColumnRenamed(old_name, new_name)

df.printSchema()
df.show(5)

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)

+--------+-----------+-------------+---------+--------+-------------+-----+------------+------------+
|order_id|customer_id|customer_name|     city| product|     category|price|  order_date|order_status|
+--------+-----------+-------------+---------+--------+-------------+-----+------------+------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|45000|  2024-01-05|   Completed|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|32000|  05/01/2024|   Completed|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|55000|  2024/01/06|   Completed|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |     |  2024-01-07|   Cancelled|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|48000|invalid_date|   Completed|
+--------+-----------+-------------+---------+--------+-------------+-----+------------+------------+
only showing top 5 rows

2. Add a column price_with_tax (18%)

In [62]:
from pyspark.sql.functions import when

In [63]:
from pyspark.sql.functions import when, col
from pyspark.sql.types import DoubleType

df = df.withColumn("price",
                 when(col("price").rlike("^[0-9]+$"),col("price").cast(DoubleType())).otherwise(None))

if "price_with_tax" in df.columns:
    df = df.drop("price_with_tax")

df = df.withColumn("price_with_tax", col("price") * 1.18)

df.show(5)

+--------+-----------+-------------+---------+--------+-------------+-------+------------+------------+--------------+
|order_id|customer_id|customer_name|     city| product|     category|  price|  order_date|order_status|price_with_tax|
+--------+-----------+-------------+---------+--------+-------------+-------+------------+------------+--------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|45000.0|  2024-01-05|   Completed|       53100.0|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|32000.0|  05/01/2024|   Completed|       37760.0|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|55000.0|  2024/01/06|   Completed|       64900.0|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |   NULL|  2024-01-07|   Cancelled|          NULL|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|48000.0|invalid_date|   Completed|       56640.0|
+--------+-----------+-------------+---------+--------+-------------+-------+------------+------------+--------------+
only showing top 5 rows

3. Add a column price_category (Low / Medium / High)

In [64]:
df=df.withColumn("price_category",
                 when(col("price")<30000,"Low")
                 .when(col("price").between(30000,50000),"Medium")
                 .otherwise("High")
                 )
df.show()

+--------+-----------+-------------+---------+--------+-------------+-------+------------+------------+--------------+--------------+
|order_id|customer_id|customer_name|     city| product|     category|  price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+--------+-------------+-------+------------+------------+--------------+--------------+
|  ORD001|       C001|         Ravi|   Delhi |  Laptop|  Electronics|45000.0|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|        Sneha|   Mumbai| Mobile |  Electronics|32000.0|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|         Aman|Bangalore|  Laptop|  Electronics|55000.0|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    Delhi|  Tablet| Electronics |   NULL|  2024-01-07|   Cancelled|          NULL|          High|
|  ORD005|       C005|         Neha|  Chennai|  Laptop|  Electronics|48000.0|invalid_date|   Completed|       56640.0|        Medium|
|  ORD006|       C006|        Rahul|   Mumbai|  Mobile|  Electronics|   NULL|  2024-01-08|   Completed|          NULL|          High|
|  ORD007|       C007|        Kiran|Bangalore|  Tablet|  Electronics|30000.0|  2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|         Amit|    Delhi|  Laptop|  electronics|45000.0|  2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|        Priya|     Pune|  Mobile|  Electronics|28000.0|  09-01-2024|   Completed|       33040.0|           Low|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD010|       C010|       Suresh|   Mumbai|  Laptop|  Electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|        Meena|  Chennai|  Tablet|  Electronics|31000.0|  2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|        Arjun|    Delhi|  Mobile|  Electronics|27000.0|  2024/01/11|   Completed|       31860.0|           Low|
|  ORD013|       C013|       Nikhil|Bangalore|  Laptop|  Electronics|60000.0|  2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|        Rohit|   Mumbai|  Mobile|  Electronics|   NULL|  2024-01-12|   Completed|          NULL|          High|
|  ORD015|       C015|        Anita|    Delhi|  Tablet|  Electronics|29000.0|  2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|        Vikas|  Chennai|  Laptop|  Electronics|52000.0|  2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017|       Sunita|   Mumbai|  Mobile|  Electronics|33000.0|  2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018|       Deepak|Bangalore|  Laptop|  Electronics|58000.0|  2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    Delhi|  Mobile|  Electronics|26000.0|  2024-01-15|   Completed|       30680.0|           Low|
+--------+-----------+-------------+---------+--------+-------------+-------+------------+------------+--------------+--------------+
only showing top 20 rows

# Data Cleaning

4. Trim and standardize city , product , category

In [65]:
from pyspark.sql.functions import trim,lower
df=df.withColumn("city",trim(lower(col("city")))).withColumn("product",trim(lower(col("product")))).withColumn("category",trim(lower(col("category"))))
df.show()

+--------+-----------+-------------+---------+-------+-----------+-------+------------+------------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|  price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-------+------------+------------+--------------+--------------+
|  ORD001|       C001|         Ravi|    delhi| laptop|electronics|45000.0|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|        Sneha|   mumbai| mobile|electronics|32000.0|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|         Aman|bangalore| laptop|electronics|55000.0|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    delhi| tablet|electronics|   NULL|  2024-01-07|   Cancelled|          NULL|          High|
|  ORD005|       C005|         Neha|  chennai| laptop|electronics|48000.0|invalid_date|   Completed|       56640.0|        Medium|
|  ORD006|       C006|        Rahul|   mumbai| mobile|electronics|   NULL|  2024-01-08|   Completed|          NULL|          High|
|  ORD007|       C007|        Kiran|bangalore| tablet|electronics|30000.0|  2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|         Amit|    delhi| laptop|electronics|45000.0|  2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|        Priya|     pune| mobile|electronics|28000.0|  09-01-2024|   Completed|       33040.0|           Low|
|  ORD010|       C010|       Suresh|   mumbai| laptop|electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD010|       C010|       Suresh|   mumbai| laptop|electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|        Meena|  chennai| tablet|electronics|31000.0|  2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|        Arjun|    delhi| mobile|electronics|27000.0|  2024/01/11|   Completed|       31860.0|           Low|
|  ORD013|       C013|       Nikhil|bangalore| laptop|electronics|60000.0|  2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|        Rohit|   mumbai| mobile|electronics|   NULL|  2024-01-12|   Completed|          NULL|          High|
|  ORD015|       C015|        Anita|    delhi| tablet|electronics|29000.0|  2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|        Vikas|  chennai| laptop|electronics|52000.0|  2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017|       Sunita|   mumbai| mobile|electronics|33000.0|  2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018|       Deepak|bangalore| laptop|electronics|58000.0|  2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    delhi| mobile|electronics|26000.0|  2024-01-15|   Completed|       30680.0|           Low|
+--------+-----------+-------------+---------+-------+-----------+-------+------------+------------+--------------+--------------+
only showing top 20 rows

5. Convert price to integer

In [66]:
from pyspark.sql.types import IntegerType

df = df.withColumn("price", col("price").cast(IntegerType()))
df.show(5)
df.printSchema()

+--------+-----------+-------------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|  ORD001|       C001|         Ravi|    delhi| laptop|electronics|45000|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|        Sneha|   mumbai| mobile|electronics|32000|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|         Aman|bangalore| laptop|electronics|55000|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    delhi| tablet|electronics| NULL|  2024-01-07|   Cancelled|          NULL|          High|
|  ORD005|       C005|         Neha|  chennai| laptop|electronics|48000|invalid_date|   Completed|       56640.0|        Medium|
+--------+-----------+-------------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
only showing top 5 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = false)

6. Handle invalid and null prices

In [67]:
from pyspark.sql.functions import mean, col, when
from pyspark.sql.types import IntegerType, DoubleType

mean_price = df.agg(mean(col("price"))).collect()[0][0]

df = df.withColumn("price", when(col("price").isNull(), mean_price).otherwise(col("price")))

df = df.withColumn("price", col("price").cast(IntegerType()))

df = df.withColumn("price_with_tax", col("price").cast(DoubleType()) * 1.18)

df = df.withColumn("price_category",
                 when(col("price") < 30000, "Low")
                 .when(col("price").between(30000, 50000), "Medium")
                 .otherwise("High"))

df.show(5)
df.printSchema()

+--------+-----------+-------------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|  ORD001|       C001|         Ravi|    delhi| laptop|electronics|45000|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|        Sneha|   mumbai| mobile|electronics|32000|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|         Aman|bangalore| laptop|electronics|55000|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    delhi| tablet|electronics|41277|  2024-01-07|   Cancelled|      48706.86|        Medium|
|  ORD005|       C005|         Neha|  chennai| laptop|electronics|48000|invalid_date|   Completed|       56640.0|        Medium|
+--------+-----------+-------------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
only showing top 5 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = false)

7. Normalize all dates into DateType

In [44]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType
from datetime import datetime

In [55]:
from pyspark.sql.functions import coalesce, to_date

In [69]:
from pyspark.sql.functions import udf, col, trim
from pyspark.sql.types import DateType
from datetime import datetime

def parse_date_py(date_str):
    if date_str is None:
        return None
    date_str = date_str.strip()
    formats = ["%Y-%m-%d", "%d-%m-%Y", "%m/%d/%Y", "%Y/%m/%d"]
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt).date()
        except ValueError:
            continue
    return None

parse_date_udf = udf(parse_date_py, DateType())

df = df.withColumn("order_date", parse_date_udf(col("order_date")))

df.show(truncate=False)
df.printSchema()

+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|order_id|customer_id|customer_name|city     |product|category   |price|order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|ORD001  |C001       |Ravi         |delhi    |laptop |electronics|45000|2024-01-05|Completed   |53100.0       |Medium        |
|ORD002  |C002       |Sneha        |mumbai   |mobile |electronics|32000|2024-05-01|Completed   |37760.0       |Medium        |
|ORD003  |C003       |Aman         |bangalore|laptop |electronics|55000|2024-01-06|Completed   |64900.0       |High          |
|ORD004  |C004       |Pooja        |delhi    |tablet |electronics|41277|2024-01-07|Cancelled   |48706.86      |Medium        |
|ORD005  |C005       |Neha         |chennai  |laptop |electronics|48000|NULL      |Completed   |56640.0       |Medium        |
|ORD006  |C006       |Rahul        |mumbai   |mobile |electronics|41277|2024-01-08|Completed   |48706.86      |Medium        |
|ORD007  |C007       |Kiran        |bangalore|tablet |electronics|30000|2024-01-08|Completed   |35400.0       |Medium        |
|ORD008  |C008       |Amit         |delhi    |laptop |electronics|45000|2024-01-09|Completed   |53100.0       |Medium        |
|ORD009  |C009       |Priya        |pune     |mobile |electronics|28000|2024-01-09|Completed   |33040.0       |Low           |
|ORD010  |C010       |Suresh       |mumbai   |laptop |electronics|55000|2024-01-10|Completed   |64900.0       |High          |
|ORD010  |C010       |Suresh       |mumbai   |laptop |electronics|55000|2024-01-10|Completed   |64900.0       |High          |
|ORD011  |C011       |Meena        |chennai  |tablet |electronics|31000|2024-01-11|Completed   |36580.0       |Medium        |
|ORD012  |C012       |Arjun        |delhi    |mobile |electronics|27000|2024-01-11|Completed   |31860.0       |Low           |
|ORD013  |C013       |Nikhil       |bangalore|laptop |electronics|60000|2024-01-12|Completed   |70800.0       |High          |
|ORD014  |C014       |Rohit        |mumbai   |mobile |electronics|41277|2024-01-12|Completed   |48706.86      |Medium        |
|ORD015  |C015       |Anita        |delhi    |tablet |electronics|29000|2024-01-13|Completed   |34220.0       |Low           |
|ORD016  |C016       |Vikas        |chennai  |laptop |electronics|52000|2024-01-13|Completed   |61360.0       |High          |
|ORD017  |C017       |Sunita       |mumbai   |mobile |electronics|33000|2024-01-14|Completed   |38940.0       |Medium        |
|ORD018  |C018       |Deepak       |bangalore|laptop |electronics|58000|2024-01-14|Completed   |68440.0       |High          |
|ORD019  |C019       |Pallavi      |delhi    |mobile |electronics|26000|2024-01-15|Completed   |30680.0       |Low           |
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = false)

8. Remove duplicate orders

In [70]:
df = df.dropDuplicates(["order_id"])
df.show()

+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|  ORD001|       C001|         Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|        Sneha|   mumbai| mobile|electronics|32000|2024-05-01|   Completed|       37760.0|        Medium|
|  ORD003|       C003|         Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|
|  ORD004|       C004|        Pooja|    delhi| tablet|electronics|41277|2024-01-07|   Cancelled|      48706.86|        Medium|
|  ORD005|       C005|         Neha|  chennai| laptop|electronics|48000|      NULL|   Completed|       56640.0|        Medium|
|  ORD006|       C006|        Rahul|   mumbai| mobile|electronics|41277|2024-01-08|   Completed|      48706.86|        Medium|
|  ORD007|       C007|        Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|         Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|        Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|
|  ORD010|       C010|       Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|        Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|        Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|
|  ORD013|       C013|       Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|        Rohit|   mumbai| mobile|electronics|41277|2024-01-12|   Completed|      48706.86|        Medium|
|  ORD015|       C015|        Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|        Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017|       Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018|       Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|
|  ORD020|       C020|       Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+

9. Filter only Completed orders

In [72]:
df=df.filter(col("order_status")=="Completed")
df.show()

+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|order_id|customer_id|customer_name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|  ORD001|       C001|         Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|        Sneha|   mumbai| mobile|electronics|32000|2024-05-01|   Completed|       37760.0|        Medium|
|  ORD003|       C003|         Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|
|  ORD005|       C005|         Neha|  chennai| laptop|electronics|48000|      NULL|   Completed|       56640.0|        Medium|
|  ORD006|       C006|        Rahul|   mumbai| mobile|electronics|41277|2024-01-08|   Completed|      48706.86|        Medium|
|  ORD007|       C007|        Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|         Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|        Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|
|  ORD010|       C010|       Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|        Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|        Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|
|  ORD013|       C013|       Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|        Rohit|   mumbai| mobile|electronics|41277|2024-01-12|   Completed|      48706.86|        Medium|
|  ORD015|       C015|        Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|        Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017|       Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018|       Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|      Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|
|  ORD020|       C020|       Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+

# Data Transformation

10. Create order_year , order_month

In [74]:
from pyspark.sql.functions import year,month
df=df.withColumn("order_year",year(col("order_date"))).withColumn("order_month",month(col("order_date")))
df.show()

+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|order_id|customer_id|customer_name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|order_year|order_month|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|  ORD001|       C001|         Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD002|       C002|        Sneha|   mumbai| mobile|electronics|32000|2024-05-01|   Completed|       37760.0|        Medium|      2024|          5|
|  ORD003|       C003|         Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|      2024|          1|
|  ORD005|       C005|         Neha|  chennai| laptop|electronics|48000|      NULL|   Completed|       56640.0|        Medium|      NULL|       NULL|
|  ORD006|       C006|        Rahul|   mumbai| mobile|electronics|41277|2024-01-08|   Completed|      48706.86|        Medium|      2024|          1|
|  ORD007|       C007|        Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|      2024|          1|
|  ORD008|       C008|         Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD009|       C009|        Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|      2024|          1|
|  ORD010|       C010|       Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|      2024|          1|
|  ORD011|       C011|        Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|      2024|          1|
|  ORD012|       C012|        Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|      2024|          1|
|  ORD013|       C013|       Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|      2024|          1|
|  ORD014|       C014|        Rohit|   mumbai| mobile|electronics|41277|2024-01-12|   Completed|      48706.86|        Medium|      2024|          1|
|  ORD015|       C015|        Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|      2024|          1|
|  ORD016|       C016|        Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|      2024|          1|
|  ORD017|       C017|       Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|      2024|          1|
|  ORD018|       C018|       Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|      2024|          1|
|  ORD019|       C019|      Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|      2024|          1|
|  ORD020|       C020|       Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|      2024|          1|
+--------+-----------+-------------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+

11. Aggregate total revenue per city

In [76]:
from pyspark.sql.functions import sum
revenue_city=df.groupBy("city").agg(sum("price").alias("total_revenue"))
revenue_city.show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|  chennai|       131000|
|    delhi|       172000|
|bangalore|       203000|
|   mumbai|       236554|
|     pune|        28000|
+---------+-------------+

12. Aggregate total revenue per product

In [77]:
revenue_product=df.groupBy("product").agg(sum("price").alias("total_revenue"))
revenue_product.show()

+-------+-------------+
|product|total_revenue|
+-------+-------------+
| mobile|       228554|
| tablet|       124000|
| laptop|       418000|
+-------+-------------+

13. Identify top 3 cities by revenue

In [78]:
top_cities=revenue_city.orderBy(col("total_revenue").desc()).limit(3)
top_cities.show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|   mumbai|       236554|
|bangalore|       203000|
|    delhi|       172000|
+---------+-------------+

14. Identify products with average price above threshold

In [81]:
avg_price_threshold=40000

In [83]:
from pyspark.sql.functions import avg

premium_products=df.groupBy("product").agg(avg("price").alias("average_price")).filter(col("average_price")> avg_price_threshold)
premium_products=premium_products.orderBy(col("average_price").desc())
premium_products.show()

+-------+-------------+
|product|average_price|
+-------+-------------+
| laptop|      52250.0|
+-------+-------------+

# File Format Operations

15. Write cleaned data to Parquet

In [85]:
df=df.repartition(2)
df.write.parquet("cleaned_data.parquet")

16. Read Parquet back and verify schema

In [86]:
parquet_df=spark.read.parquet("cleaned_data.parquet")
parquet_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = true)
 |-- order_year: integer (nullable = true)
 |-- order_month: integer (nullable = true)

17. Write the same data to ORC

In [87]:
df.write.mode("overwrite").orc("cleaned_data.orc")

# Performance & Validation

19. Check number of partitions

In [88]:
df.rdd.getNumPartitions()

2

20. Repartition before writing

In [89]:
df_repartitioned = df.repartition(4)
df_repartitioned.write.mode("overwrite").orc("cleaned_data_repartitioned.orc")
print(f"DataFrame repartitioned to {df_repartitioned.rdd.getNumPartitions()} partitions and written to 'cleaned_data_repartitioned.orc'")

DataFrame repartitioned to 4 partitions and written to 'cleaned_data_repartitioned.orc'

21. Compare file counts between Parquet and ORC

In [90]:
spark.read.parquet("cleaned_data.parquet").inputFiles()
spark.read.orc("cleaned_data.orc").inputFiles()

['file:///content/cleaned_data.orc/part-00001-675d9895-a51e-4810-b8c0-a8ccf2913e55-c000.zstd.orc',
 'file:///content/cleaned_data.orc/part-00000-675d9895-a51e-4810-b8c0-a8ccf2913e55-c000.zstd.orc']

22. Run explain(True) on final pipeline

In [91]:
df.explain(True)

== Parsed Logical Plan ==
Repartition 2, true
+- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1957, order_status#1729, price_with_tax#1919, price_category#1920, order_year#2465, month(order_date#1957) AS order_month#2466]
   +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1957, order_status#1729, price_with_tax#1919, price_category#1920, year(order_date#1957) AS order_year#2465]
      +- Filter (order_status#1729 = Completed)
         +- Filter (order_status#1729 = Completed)
            +- Deduplicate [order_id#1721]
               +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, parse_date_py(order_date#1728)#1956 AS order_date#1957, order_status#1729, price_with_tax#1919, price_category#1920]
                  +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1728, order_status#1729, price_with_tax#1919, CASE WHEN (price#1918 < 30000) THEN Low WHEN ((price#1918 >= 30000) AND (price#1918 <= 50000)) THEN Medium ELSE High END AS price_category#1920]
                     +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1728, order_status#1729, (cast(price#1918 as double) * 1.18) AS price_with_tax#1919, price_category#1791]
                        +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, cast(price#1917 as int) AS price#1918, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                           +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, CASE WHEN isnull(price#1863) THEN 41277.77777777778 ELSE cast(price#1863 as double) END AS price#1917, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                              +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, cast(price#1758 as int) AS price#1863, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                 +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, trim(lower(category#1726), None) AS category#1828, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                    +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, trim(lower(product#1725), None) AS product#1827, category#1726, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                       +- Project [order_id#1721, customer_id#1722, customer_name#1723, trim(lower(city#1724), None) AS city#1826, product#1725, category#1726, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                          +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, CASE WHEN (price#1758 < cast(30000 as double)) THEN Low WHEN ((price#1758 >= cast(30000 as double)) AND (price#1758 <= cast(50000 as double))) THEN Medium ELSE High END AS price_category#1791]
                                             +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1758, order_date#1728, order_status#1729, (price#1758 * 1.18) AS price_with_tax#1759]
                                                +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, CASE WHEN RLIKE(price#1727, ^[0-9]+$) THEN cast(price#1727 as double) ELSE cast(null as double) END AS price#1758, order_date#1728, order_status#1729]
                                                   +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1727, order_date#1728, order_status#1692 AS order_status#1729]
                                                      +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1727, order_date#1691 AS order_date#1728, order_status#1692]
                                                         +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1690 AS price#1727, order_date#1691, order_status#1692]
                                                            +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1689 AS category#1726, price#1690, order_date#1691, order_status#1692]
                                                               +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1688 AS product#1725, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                  +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1687 AS city#1724, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                     +- Project [order_id#1721, customer_id#1722, customer_name#1686 AS customer_name#1723, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                        +- Project [order_id#1721, customer_id#1685 AS customer_id#1722, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                           +- Project [order_id#1684 AS order_id#1721, customer_id#1685, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                              +- LogicalRDD [order_id#1684, customer_id#1685, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692], false

== Analyzed Logical Plan ==
order_id: string, customer_id: string, customer_name: string, city: string, product: string, category: string, price: int, order_date: date, order_status: string, price_with_tax: double, price_category: string, order_year: int, order_month: int
Repartition 2, true
+- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1957, order_status#1729, price_with_tax#1919, price_category#1920, order_year#2465, month(order_date#1957) AS order_month#2466]
   +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1957, order_status#1729, price_with_tax#1919, price_category#1920, year(order_date#1957) AS order_year#2465]
      +- Filter (order_status#1729 = Completed)
         +- Filter (order_status#1729 = Completed)
            +- Deduplicate [order_id#1721]
               +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, parse_date_py(order_date#1728)#1956 AS order_date#1957, order_status#1729, price_with_tax#1919, price_category#1920]
                  +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1728, order_status#1729, price_with_tax#1919, CASE WHEN (price#1918 < 30000) THEN Low WHEN ((price#1918 >= 30000) AND (price#1918 <= 50000)) THEN Medium ELSE High END AS price_category#1920]
                     +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, price#1918, order_date#1728, order_status#1729, (cast(price#1918 as double) * 1.18) AS price_with_tax#1919, price_category#1791]
                        +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, cast(price#1917 as int) AS price#1918, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                           +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, CASE WHEN isnull(price#1863) THEN 41277.77777777778 ELSE cast(price#1863 as double) END AS price#1917, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                              +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, category#1828, cast(price#1758 as int) AS price#1863, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                 +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, product#1827, trim(lower(category#1726), None) AS category#1828, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                    +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1826, trim(lower(product#1725), None) AS product#1827, category#1726, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                       +- Project [order_id#1721, customer_id#1722, customer_name#1723, trim(lower(city#1724), None) AS city#1826, product#1725, category#1726, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, price_category#1791]
                                          +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1758, order_date#1728, order_status#1729, price_with_tax#1759, CASE WHEN (price#1758 < cast(30000 as double)) THEN Low WHEN ((price#1758 >= cast(30000 as double)) AND (price#1758 <= cast(50000 as double))) THEN Medium ELSE High END AS price_category#1791]
                                             +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1758, order_date#1728, order_status#1729, (price#1758 * 1.18) AS price_with_tax#1759]
                                                +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, CASE WHEN RLIKE(price#1727, ^[0-9]+$) THEN cast(price#1727 as double) ELSE cast(null as double) END AS price#1758, order_date#1728, order_status#1729]
                                                   +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1727, order_date#1728, order_status#1692 AS order_status#1729]
                                                      +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1727, order_date#1691 AS order_date#1728, order_status#1692]
                                                         +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1726, price#1690 AS price#1727, order_date#1691, order_status#1692]
                                                            +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1725, category#1689 AS category#1726, price#1690, order_date#1691, order_status#1692]
                                                               +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1724, product#1688 AS product#1725, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                  +- Project [order_id#1721, customer_id#1722, customer_name#1723, city#1687 AS city#1724, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                     +- Project [order_id#1721, customer_id#1722, customer_name#1686 AS customer_name#1723, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                        +- Project [order_id#1721, customer_id#1685 AS customer_id#1722, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                           +- Project [order_id#1684 AS order_id#1721, customer_id#1685, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692]
                                                                              +- LogicalRDD [order_id#1684, customer_id#1685, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692], false

== Optimized Logical Plan ==
Repartition 2, true
+- Project [order_id#1684, customer_id#3231, customer_name#3233, city#3235, product#3237, category#3239, price#3241, order_date#3243, order_status#3245, price_with_tax#3247, price_category#3249, year(order_date#3243) AS order_year#2465, month(order_date#3243) AS order_month#2466]
   +- Filter (isnotnull(order_status#3245) AND (order_status#3245 = Completed))
      +- Aggregate [order_id#1684], [order_id#1684, first(customer_id#1685, false) AS customer_id#3231, first(customer_name#1686, false) AS customer_name#3233, first(city#1826, false) AS city#3235, first(product#1827, false) AS product#3237, first(category#1828, false) AS category#3239, first(price#1918, false) AS price#3241, first(order_date#1957, false) AS order_date#3243, first(order_status#1692, false) AS order_status#3245, first(price_with_tax#1919, false) AS price_with_tax#3247, first(price_category#1920, false) AS price_category#3249]
         +- Project [order_id#1684, customer_id#1685, customer_name#1686, city#1826, product#1827, category#1828, price#1918, pythonUDF0#3250 AS order_date#1957, order_status#1692, (cast(price#1918 as double) * 1.18) AS price_with_tax#1919, CASE WHEN (price#1918 < 30000) THEN Low WHEN ((price#1918 >= 30000) AND (price#1918 <= 50000)) THEN Medium ELSE High END AS price_category#1920]
            +- BatchEvalPython [parse_date_py(order_date#1691)#1956], [pythonUDF0#3250]
               +- Project [order_id#1684, customer_id#1685, customer_name#1686, city#1826, product#1827, category#1828, CASE WHEN isnull(price#1863) THEN 41277 ELSE cast(cast(price#1863 as double) as int) END AS price#1918, order_date#1691, order_status#1692]
                  +- Project [order_id#1684, customer_id#1685, customer_name#1686, trim(lower(city#1687), None) AS city#1826, trim(lower(product#1688), None) AS product#1827, trim(lower(category#1689), None) AS category#1828, CASE WHEN RLIKE(price#1690, ^[0-9]+$) THEN cast(cast(price#1690 as double) as int) END AS price#1863, order_date#1691, order_status#1692]
                     +- LogicalRDD [order_id#1684, customer_id#1685, customer_name#1686, city#1687, product#1688, category#1689, price#1690, order_date#1691, order_status#1692], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=true
+- == Final Plan ==
   ResultQueryStage 2
   +- ShuffleQueryStage 1
      +- Exchange RoundRobinPartitioning(2), REPARTITION_BY_NUM, [plan_id=3920]
         +- *(4) Project [order_id#1684, customer_id#3231, customer_name#3233, city#3235, product#3237, category#3239, price#3241, order_date#3243, order_status#3245, price_with_tax#3247, price_category#3249, year(order_date#3243) AS order_year#2465, month(order_date#3243) AS order_month#2466]
            +- *(4) Filter (isnotnull(order_status#3245) AND (order_status#3245 = Completed))
               +- SortAggregate(key=[order_id#1684], functions=[first(customer_id#1685, false), first(customer_name#1686, false), first(city#1826, false), first(product#1827, false), first(category#1828, false), first(price#1918, false), first(order_date#1957, false), first(order_status#1692, false), first(price_with_tax#1919, false), first(price_category#1920, false)], output=[order_id#1684, customer_id#3231, customer_name#3233, city#3235, product#3237, category#3239, price#3241, order_date#3243, order_status#3245, price_with_tax#3247, price_category#3249])
                  +- *(3) Sort [order_id#1684 ASC NULLS FIRST], false, 0
                     +- AQEShuffleRead coalesced
                        +- ShuffleQueryStage 0
                           +- Exchange hashpartitioning(order_id#1684, 200), ENSURE_REQUIREMENTS, [plan_id=3867]
                              +- SortAggregate(key=[order_id#1684], functions=[partial_first(customer_id#1685, false), partial_first(customer_name#1686, false), partial_first(city#1826, false), partial_first(product#1827, false), partial_first(category#1828, false), partial_first(price#1918, false), partial_first(order_date#1957, false), partial_first(order_status#1692, false), partial_first(price_with_tax#1919, false), partial_first(price_category#1920, false)], output=[order_id#1684, first#3271, valueSet#3272, first#3273, valueSet#3274, first#3275, valueSet#3276, first#3277, valueSet#3278, first#3279, valueSet#3280, first#3281, valueSet#3282, first#3283, valueSet#3284, first#3285, valueSet#3286, first#3287, valueSet#3288, first#3289, valueSet#3290])
                                 +- *(2) Sort [order_id#1684 ASC NULLS FIRST], false, 0
                                    +- *(2) Project [order_id#1684, customer_id#1685, customer_name#1686, city#1826, product#1827, category#1828, price#1918, pythonUDF0#3250 AS order_date#1957, order_status#1692, (cast(price#1918 as double) * 1.18) AS price_with_tax#1919, CASE WHEN (price#1918 < 30000) THEN Low WHEN ((price#1918 >= 30000) AND (price#1918 <= 50000)) THEN Medium ELSE High END AS price_category#1920]
                                       +- BatchEvalPython [parse_date_py(order_date#1691)#1956], [pythonUDF0#3250]
                                          +- *(1) Project [order_id#1684, customer_id#1685, customer_name#1686, city#1826, product#1827, category#1828, CASE WHEN isnull(price#1863) THEN 41277 ELSE cast(cast(price#1863 as double) as int) END AS price#1918, order_date#1691, order_status#1692]
                                             +- *(1) Project [order_id#1684, customer_id#1685, customer_name#1686, trim(lower(city#1687), None) AS city#1826, trim(lower(product#1688), None) AS product#1827, trim(lower(category#1689), None) AS category#1828, CASE WHEN RLIKE(price#1690, ^[0-9]+$) THEN cast(cast(price#1690 as double) as int) END AS price#1863, order_date#1691, order_status#1692]
                                                +- *(1) Scan ExistingRDD[order_id#1684,customer_id#1685,customer_name#1686,city#1687,product#1688,category#1689,price#1690,order_date#1691,order_status#1692]
+- == Initial Plan ==
   Exchange RoundRobinPartitioning(2), REPARTITION_BY_NUM, [plan_id=3834]
   +- Project [order_id#1684, customer_id#3231, customer_name#3233, city#3235, product#3237, category#3239, price#3241, order_date#3243, order_status#3245, price_with_tax#3247, price_category#3249, year(order_date#3243) AS order_year#2465, month(order_date#3243) AS order_month#2466]
      +- Filter (isnotnull(order_status#3245) AND (order_status#3245 = Completed))