In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName("column").getOrCreate()

In [ ]:
data=[
    ("U001","Delhi",450),
    ("U002","Mumbai",620),
    ("U003","Bangalore",300),
    ("U004","Delhi",700)
]

columns=["user_id","city","amount"]
df=spark.createDataFrame(data=data,schema=columns)
df.show()

+-------+---------+------+
|user_id|     city|amount|
+-------+---------+------+
|   U001|    Delhi|   450|
|   U002|   Mumbai|   620|
|   U003|Bangalore|   300|
|   U004|    Delhi|   700|
+-------+---------+------+

In [ ]:
from pyspark.sql.functions import col
df=df.withColumn("amount_with_tax",col("amount")* 1.10)
df.show()

+-------+---------+------+------------------+
|user_id|     city|amount|   amount_with_tax|
+-------+---------+------+------------------+
|   U001|    Delhi|   450|495.00000000000006|
|   U002|   Mumbai|   620|             682.0|
|   U003|Bangalore|   300|             330.0|
|   U004|    Delhi|   700| 770.0000000000001|
+-------+---------+------+------------------+

In [ ]:
df=df.withColumnRenamed("amount_with_tax","total_amount")
df.show()

+-------+---------+------+------------------+
|user_id|     city|amount|      total_amount|
+-------+---------+------+------------------+
|   U001|    Delhi|   450|495.00000000000006|
|   U002|   Mumbai|   620|             682.0|
|   U003|Bangalore|   300|             330.0|
|   U004|    Delhi|   700| 770.0000000000001|
+-------+---------+------+------------------+

In [ ]:
df=df.replace("Delhi","New Delhi",subset=["city"])
df.show()

+-------+---------+------+------------------+
|user_id|     city|amount|      total_amount|
+-------+---------+------+------------------+
|   U001|New Delhi|   450|495.00000000000006|
|   U002|   Mumbai|   620|             682.0|
|   U003|Bangalore|   300|             330.0|
|   U004|New Delhi|   700| 770.0000000000001|
+-------+---------+------+------------------+

In [ ]:
from pyspark.sql.functions import when
df=df.withColumn(
    "amount_category",
    when(col("amount")>=500,"High")
    .otherwise("Low")
)
df.show()

+-------+---------+------+------------------+---------------+
|user_id|     city|amount|      total_amount|amount_category|
+-------+---------+------+------------------+---------------+
|   U001|New Delhi|   450|495.00000000000006|            Low|
|   U002|   Mumbai|   620|             682.0|           High|
|   U003|Bangalore|   300|             330.0|            Low|
|   U004|New Delhi|   700| 770.0000000000001|           High|
+-------+---------+------+------------------+---------------+