In [6]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice_CSV').getOrCreate()

In [1]:
data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
    ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]

In [2]:

columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]

In [7]:
df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- order_amount: long (nullable = true)
 |-- delivery_time_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- order_status: string (nullable = true)

# Exercise 1

Write the full dataset to CSV with header enabled.

In [8]:
df.write.csv("orders_csv/", header=True)

# Exercise 2

Read the CSV back and filter:
order_amount > 700

In [9]:
orders_df = spark.read.csv("orders_csv/", header=True, inferSchema=True)
filtered_orders_df = orders_df.filter(orders_df['order_amount'] > 700)
filtered_orders_df.show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O021|        Priya|Hyderabad|Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O027|         Tina|Bangalore|Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

# Exercise 3

From CSV, show only:
order_id
city
cuisine
order_amount

In [10]:
orders_df.select('order_id', 'city', 'cuisine', 'order_amount').show()

+--------+---------+--------+------------+
|order_id|     city| cuisine|order_amount|
+--------+---------+--------+------------+
|    O021|Hyderabad| Italian|         720|
|    O022|  Chennai|Japanese|        1150|
|    O023|Bangalore| Italian|         680|
|    O024|   Mumbai| Chinese|         610|
|    O025|    Delhi|American|         500|
|    O026|Hyderabad|  Indian|         410|
|    O027|Bangalore| Italian|         760|
|    O028|   Mumbai|  Indian|        1550|
|    O029|  Chennai| Mexican|         590|
|    O030|    Delhi| Chinese|         630|
|    O031|Hyderabad|American|         520|
|    O032|Bangalore|  Indian|         450|
|    O033|   Mumbai| Italian|         810|
|    O034|  Chennai| Italian|         700|
|    O035|    Delhi|  Indian|        1480|
|    O036|Hyderabad| Chinese|         580|
|    O037|Bangalore| Mexican|         560|
|    O038|   Mumbai|Japanese|        1180|
|    O039|  Chennai|American|         490|
|    O040|    Delhi|  Indian|         420|
+--------+---------+--------+------------+
only showing top 20 rows

### Exercise 4

Sort orders by delivery_time_minutes descending and write result to CSV.

In [11]:
from pyspark.sql.functions import desc

sorted_df = df.orderBy(desc('delivery_time_minutes'))
sorted_df.show()

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|  BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|  BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O012|        Megha|Hyderabad|   Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O004|        Pooja|   Mumbai|   Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O015|       Nikhil|    Delhi|Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O006|        Sneha|Hyderabad|Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O014|        Divya|   Mumbai|  Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O002|         Neha|Bangalore|  Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O008|         Riya|Bangalore| Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

In [ ]:
sorted_df.write.csv("sorted_orders_csv/", header=True)

In [14]:
sorted_df.show()

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|  BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|  BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O012|        Megha|Hyderabad|   Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O004|        Pooja|   Mumbai|   Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O015|       Nikhil|    Delhi|Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O006|        Sneha|Hyderabad|Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O014|        Divya|   Mumbai|  Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O002|         Neha|Bangalore|  Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O008|         Riya|Bangalore| Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

# SECTION B — JSON

# Exercise 5

Write only “Delivered” orders to JSON.
Output:
delivered_orders_json/

In [15]:
delivered_orders_df = df.filter(df['order_status'] == 'Delivered')
delivered_orders_df.write.json("delivered_orders_json/")

In [18]:
delivered_orders_df.show()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|   Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai|    Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

# Exercise 6

Read JSON and filter:
city = "Mumbai"
payment_mode = "Card"

In [20]:
from pyspark.sql.functions import col

json_df = spark.read.json("delivered_orders_json/")
mumbai_card_orders_df = json_df.filter((col('city') == 'Mumbai') & (col('payment_mode') == 'Card'))
mumbai_card_orders_df.show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

# Exercise 7

Add a column:
delivery_category
Logic:
delivery_time_minutes > 45 → "Late"
else → "OnTime"
Write output to JSON.

In [22]:
from pyspark.sql.functions import when, col

delivered_orders_with_category_df = delivered_orders_df.withColumn(
    'delivery_category',
    when(col('delivery_time_minutes') > 45, 'Late').otherwise('OnTime')
)
delivered_orders_with_category_df.show()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|delivery_category|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|           OnTime|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|           OnTime|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|           OnTime|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|           OnTime|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|           OnTime|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|           OnTime|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|           OnTime|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|             Late|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|           OnTime|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|           OnTime|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|           OnTime|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|           OnTime|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|             Late|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|           OnTime|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|             Late|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|           OnTime|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|           OnTime|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|           OnTime|
|    O021|        Priya|Hyderabad|   Pizza Town| Italian|         720|                   41|        Card|   Delivered|           OnTime|
|    O022|         Yash|  Chennai|    Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|             Late|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
only showing top 20 rows

# Exercise 8

Force JSON output to a single partition and observe number of files created.

In [ ]:
single_partition_df = delivered_orders_with_category_df.coalesce(1)
single_partition_df.write.json("single_partition_json_output/")

In [26]:
single_partition_df.show()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|delivery_category|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|           OnTime|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|           OnTime|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|           OnTime|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|           OnTime|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|           OnTime|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|           OnTime|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|           OnTime|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|             Late|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|           OnTime|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|           OnTime|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|           OnTime|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|           OnTime|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|             Late|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|           OnTime|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|             Late|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|           OnTime|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|           OnTime|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|           OnTime|
|    O021|        Priya|Hyderabad|   Pizza Town| Italian|         720|                   41|        Card|   Delivered|           OnTime|
|    O022|         Yash|  Chennai|    Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|             Late|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
only showing top 20 rows

# SECTION C — PARQUET

# Exercise 9

Convert full dataset to Parquet.
Output:
orders_parquet/

In [27]:
df.write.parquet("orders_parquet/")

# Exercise 10

Read Parquet and filter:
cuisine = "Indian"
order_amount > 500

In [28]:
from pyspark.sql.functions import col

parquet_df = spark.read.parquet("orders_parquet/")
indian_large_orders_df = parquet_df.filter((col('cuisine') == 'Indian') & (col('order_amount') > 500))
indian_large_orders_df.show()

+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant|cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|    O009|        Vikas|   Mumbai|   BBQ Nation| Indian|        1500|                   60|        Card|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House| Indian|         520|                   36|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation| Indian|        1400|                   62|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|   BBQ Nation| Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|   BBQ Nation| Indian|        1480|                   63|        Card|   Delivered|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+

# Exercise 11

Sort Parquet data by order_amount descending and write top 10 orders back to Parquet.

In [29]:
from pyspark.sql.functions import desc

top_10_orders_df = parquet_df.orderBy(desc('order_amount')).limit(10)
top_10_orders_df.show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

In [31]:
top_10_orders_df.show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

# Exercise 12

Compare storage size of:
CSV
JSON
Parquet
Answer:
Which is smallest?
Why?

In [37]:
import os

# Remove any existing directory to ensure a clean measurement
!rm -rf orders_parquet/

# Create a dummy Parquet file for size measurement purposes
df.write.mode("overwrite").parquet("orders_parquet/")

# Get the size of the 'orders_parquet/' directory
!du -sh orders_parquet/

24K	orders_parquet/

# SECTION D — FORMAT CONVERSION

# Exercise 13

Convert:
CSV → Parquet
JSON → Parquet

In [38]:
orders_df.write.parquet("csv_to_parquet/")

In [39]:
json_df_read = spark.read.json("delivered_orders_json/")
json_df_read.write.parquet("json_to_parquet/")

# Exercise 14

Read Parquet and write it back as CSV using delimiter |

# Task
Read the Parquet data from `orders_parquet/` into a Spark DataFrame and then write the DataFrame to a new CSV file `parquet_to_csv_pipe_delimiter/` with a pipe `|` as the delimiter and including the header.

## Read Parquet Data

### Subtask:
Read the Parquet data from `orders_parquet/` into a Spark DataFrame.

**Reasoning**:
To read the Parquet data into a Spark DataFrame, I will use the `spark.read.parquet()` method as specified in the instructions and display the first few rows.

In [40]:
parquet_to_csv_df = spark.read.parquet("orders_parquet/")
parquet_to_csv_df.show()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

In [ ]:
parquet_to_csv_df.write.csv("parquet_to_csv_pipe_delimiter/", sep='|', header=True)

# THINKING / ANALYTICS QUESTIONS

# Exercise 15

Which cuisine generates the highest order_amount overall?

In [45]:
from pyspark.sql.functions import sum

total_order_amount_per_cuisine_df = df.groupBy('cuisine').agg(sum('order_amount').alias('total_order_amount'))
total_order_amount_per_cuisine_df.show()

+--------+------------------+
| cuisine|total_order_amount|
+--------+------------------+
| Mexican|              2260|
|  Indian|              9370|
| Chinese|              2980|
|Japanese|              4630|
| Italian|              6490|
|American|              3020|
+--------+------------------+

In [46]:
highest_order_cuisine_df = total_order_amount_per_cuisine_df.orderBy(desc('total_order_amount')).limit(1)
highest_order_cuisine_df.show()

+-------+------------------+
|cuisine|total_order_amount|
+-------+------------------+
| Indian|              9370|
+-------+------------------+

# Exercise 16

Which city has the highest number of orders?

In [47]:
from pyspark.sql.functions import count, desc

city_order_counts_df = df.groupBy('city').agg(count('order_id').alias('total_orders'))
highest_order_city_df = city_order_counts_df.orderBy(desc('total_orders')).limit(1)
highest_order_city_df.show()

+-----+------------+
| city|total_orders|
+-----+------------+
|Delhi|           9|
+-----+------------+

# Exercise 17

Which payment mode is most frequently used?

In [48]:
from pyspark.sql.functions import count, desc

payment_mode_counts_df = df.groupBy('payment_mode').agg(count('order_id').alias('usage_count'))
most_frequent_payment_mode_df = payment_mode_counts_df.orderBy(desc('usage_count')).limit(1)
most_frequent_payment_mode_df.show()

+------------+-----------+
|payment_mode|usage_count|
+------------+-----------+
|         UPI|         17|
+------------+-----------+

# Exercise 18

Why is Parquet the preferred format for analytics platforms like Databricks and BigQuery?

Parquet is a columnar storage format, and its preference in analytics platforms like Databricks and BigQuery stems from several key advantages:

Columnar Storage: Unlike row-oriented formats (like CSV or JSON), Parquet stores data column by column. This is highly efficient for analytical queries because queries often involve only a subset of columns. The engine can read only the necessary columns, significantly reducing I/O operations.
Compression: Parquet offers superior data compression compared to row-oriented formats. Because data in a single column is typically of the same type and often has similar values, it compresses much better. This saves storage space and further reduces I/O when reading data.
Encoding Schemes: It supports various encoding schemes (e.g., dictionary encoding, run-length encoding) that are optimized for columnar data, contributing to better compression and query performance.

Predicate Pushdown: Analytics engines can "push down" filters to the Parquet reader. This means that data can be filtered at the storage level, allowing the engine to skip reading entire blocks or pages of data that don't match the filter criteria. This drastically speeds up queries.

Schema Evolution: Parquet supports schema evolution, allowing users to add new columns, rename columns, and evolve the schema over time without breaking existing data or queries.
Optimized for Analytics Workloads: Its design is specifically tailored for OLAP (Online Analytical Processing) workloads, where complex queries operate on large datasets. It's not ideal for OLTP (Online Transaction Processing) where individual row lookups and modifications are frequent.

Integration with Big Data Ecosystem: Parquet is a cornerstone of the Apache Hadoop ecosystem and integrates seamlessly with Spark, Hive, Impala, and other big data tools, making it a natural fit for platforms built on these technologies.

Cost-Efficiency: Reduced storage and faster query execution directly translate to lower operational costs on cloud platforms, as you pay less for storage and compute time.

# OPTIONAL CHALLENGE

# Challenge 1
Repartition the dataset into 4 partitions and write to Parquet.

In [49]:
repartitioned_df = df.repartition(4)
repartitioned_df.write.parquet("repartitioned_orders_parquet/")

# Challenge 2
Create a report dataset containing:
city
total_orders
total_revenue
Write it to Parquet.

In [50]:
from pyspark.sql.functions import count, sum

city_report_df = df.groupBy('city').agg(
    count('order_id').alias('total_orders'),
    sum('order_amount').alias('total_revenue')
)
city_report_df.show()

+---------+------------+-------------+
|     city|total_orders|total_revenue|
+---------+------------+-------------+
|Bangalore|           8|         4630|
|  Chennai|           7|         4350|
|   Mumbai|           8|         8200|
|    Delhi|           9|         5690|
|Hyderabad|           8|         5880|
+---------+------------+-------------+

In [51]:
city_report_df.write.parquet('city_report_parquet/')